/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/variables';
@import './utils/mixin';
@import './utils/visually-hidden';
@import './utils/slick.scss';
@import './utils/slick-theme.scss';
@import './base/common';
@import './components/container';
@import './components/primary-button';
@import './components/round-button';
@import './components/secondary-button';
@import './components/title';
@import './components/social-links';
@import './layout/header';
@import './layout/hero';
@import './layout/products';
@import './layout/tradition';
@import './layout/reviews';
@import './layout/footer';