@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("/ajax-loader.3874f29c.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("/slick.29bec368.eot");
  src: url("/slick.29bec368.eot?#iefix") format("embedded-opentype"), url("/slick.9fd756b6.woff") format("woff"), url("/slick.4d90430f.ttf") format("truetype"), url("/slick.4453a405.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 12px;
  width: 12px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  background-color: #D9D9D9;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots .slick-active button {
  background-image: url(/home.f1c4a4e0.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  background-color: transparent;
  width: 15px;
  height: 15px;
}

body {
  color: #907E82;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  margin: 0;
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
button:hover, button:focus {
  transition: all 250ms linear;
}

.button {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}
.button:hover, .button:focus {
  transition: all 250ms linear;
}

.link {
  text-decoration: none;
  color: #907E82;
}
.link:hover, .link:focus {
  transition: all 250ms linear;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.primary-btn {
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
  background-color: #D41443;
  font-size: 16px;
  outline: none;
}
.primary-btn:hover, .primary-btn:focus {
  background-color: #C7133E;
}

.round-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  outline: none;
  border: none;
  display: block;
  padding-top: 10px;
}
.round-btn:hover, .round-btn:focus {
  background-color: #ECEBEB;
}

.secondary-btn {
  text-align: center;
  border-radius: 22px;
  color: #D41443;
  background-color: #ffffff;
  font-size: 16px;
  outline: none;
}
.secondary-btn:hover, .secondary-btn:focus {
  background-color: #ECEBEB;
}

.title {
  text-transform: uppercase;
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  color: #D41443;
}
@media (min-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 1.145;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 58px;
    line-height: 1.137;
    letter-spacing: 0.06em;
  }
}

.subtitle {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.167;
  color: #FFA5BA;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 26px;
    line-height: 1.154;
  }
}
@media (min-width: 1200px) {
  .subtitle {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }
}

.social-link {
  width: 32px;
  height: 32px;
  background-color: #FEA5BB;
  border-radius: 50%;
}
.social-link:hover, .social-link:focus {
  background-color: #C7133E;
}
@media (min-width: 768px) {
  .social-link {
    width: 34px;
    height: 34px;
  }
}

header {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 6px;
}
@media (min-width: 768px) {
  .header .container {
    padding-top: 37px;
  }
}
@media (min-width: 768px) {
  .header .container {
    justify-content: space-between;
  }
}

.header a {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parent {
  margin-left: 45px;
}
@media (min-width: 768px) {
  .parent {
    margin-left: 260px;
  }
}
@media (min-width: 1200px) {
  .parent {
    margin-left: 0;
  }
}

.header-nav-list {
  display: none;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .header-nav-list {
    display: flex;
    width: 541px;
  }
}
.header-nav-list .current {
  color: #D41443;
}

.header-nav-list-li:not(:last-child) {
  margin-right: 35px;
}

.header-nav-list-li:hover {
  color: #C7133E;
  transition: all 250ms linear;
}

.header-nav-list-li a:focus {
  color: #C7133E;
  transition: all 250ms linear;
}

.logo {
  margin-right: auto;
}
@media (min-width: 1200px) {
  .logo {
    margin-left: -70px;
  }
}

.header-btn {
  display: none;
  font-weight: 700;
}
@media (min-width: 768px) {
  .header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0 40px;
    line-height: 44px;
  }
}
.header-btn::after {
  content: "";
  display: block;
  width: 7px;
  height: 10px;
  background-color: transparent;
  background-image: url(/btn.b2785d18.svg);
  margin-left: 10px;
}

.menu-button {
  border: none;
  outline: #D41443;
  background-color: transparent;
  position: relative;
  top: 23px;
  z-index: 5;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-button {
    top: 19px;
    right: 0px;
  }
}
@media (min-width: 768px) {
  .menu-button {
    top: 15px;
  }
}
.menu-button:hover, .menu-button:focus {
  fill: #C7133E;
}
@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.toclose {
  display: none;
}

.header-menu {
  visibility: visible;
  opacity: 0;
  position: absolute;
  background-color: #ffffff;
  transform: scale(0);
  right: 1000px;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .header-menu {
    display: none;
  }
}
.header-menu .header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 160px;
  height: 44px;
  line-height: 44px;
  margin-top: auto;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: auto;
}
.header-menu .header-btn:hover, .header-menu .header-btn:focus {
  background-color: #ECEBEB;
}

.header-menu.is-open {
  right: 6px;
  opacity: 1;
  transform: scale(1);
  padding: 50px;
  background-color: #e17992;
}
@media (min-width: 768px) {
  .header-menu.is-open {
    top: 2px;
    right: 35px;
  }
}
@media (min-width: 1200px) {
  .header-menu.is-open {
    display: none;
  }
}

.menu-button.is-open .burger {
  display: none;
}

.menu-button.is-open .toclose {
  display: block;
}

.contra {
  display: flex;
  justify-content: space-between;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  color: #ffffff;
}
.menu-nav-list li {
  margin-bottom: 23px;
}

.current {
  color: #D41443;
}

.hero {
  background-color: #FFB8CA;
}

.hero .container {
  position: relative;
  height: 502px;
  padding-top: 193px;
  padding-bottom: 160px;
  background-image: url("/mobile-hero-ice.621771f3.png"), url("/mobile-circle.f86563d4.png");
  background-repeat: no-repeat;
  background-size: 171px 410px, 284px 344px;
  background-position: 117px 92px, 36px 83px;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 96dpi) and (min-width: 320px), screen and (min-resolution: 1dppx) and (min-width: 320px) {
  .hero .container {
    background-image: url("/mobile-hero-ice@2x.1f4d25d8.png"), url("/mobile-circle@2x.a85681ba.png");
  }
}
@media (min-width: 768px) {
  .hero .container {
    height: 399px;
    padding-top: 102px;
    padding-bottom: 160px;
    background-image: url("/tablet-hero-ice.18ede8d5.png"), url("/tablet-hero-girl.4faffae9.png"), url("/tablet-hero-milk.ee33959b.png"), url("/tablet-circle.476f2f41.png");
    background-size: 143px 336px, 168px 133px, 124px 126px, 324px 322px;
    background-position: right 244px bottom, right 44px bottom, left 34px bottom 28px, right 144px bottom 31px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 96dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 1dppx) and (min-width: 768px) {
  .hero .container {
    background-image: url("/tablet-hero-ice@2x.3ae1afa4.png"), url("/tablet-hero-girl@2x.b3ba8bd9.png"), url("/tablet-hero-milk@2x.a633f97e.png"), url("/tablet-circle@2x.de7dacdd.png");
  }
}
@media (min-width: 1200px) {
  .hero .container {
    height: 665px;
    padding-top: 171px;
    padding-bottom: 292px;
    background-image: url("/desktop-hero-ice.4934c298.png"), url("/desktop-hero-girl.3da16d90.png"), url("/desktop-hero-milk.b3e107f2.png"), url("/desktop-hero-circle.c815d376.png");
    background-size: 235px 557px, 293px 232px, 188px 191px, 538px 538px;
    background-position: left 549px bottom, right 45px bottom, left 30px bottom 45px, left 430px bottom 75px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 1200px) and (min-resolution: 96dpi) and (min-width: 768px), screen and (min-width: 1200px) and (min-resolution: 1dppx) and (min-width: 768px) {
  .hero .container {
    background-image: url("/desktop-hero-ice@2x.8b780ae1.png"), url("/desktop-hero-girl@2x.74d4d227.png"), url("/desktop-hero-milk@2x.69f91e83.png"), url("/desktop-hero-circle@2x.2623811e.png");
  }
}

.hero .title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  max-width: 230px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hero .title {
    font-size: 34px;
    line-height: 1.15;
    max-width: 162px;
  }
}
@media (min-width: 1200px) {
  .hero .title {
    font-size: 58px;
    line-height: 1.15;
    max-width: 277px;
    margin-bottom: 40px;
  }
}

.hero .subtitle {
  display: block;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
}
@media (min-width: 768px) {
  .hero .subtitle {
    font-size: 22px;
    line-height: 1.136;
  }
}
@media (min-width: 1200px) {
  .hero .subtitle {
    font-size: 38px;
    line-height: 1.15;
  }
}

.hero-text {
  display: none;
  width: 114px;
}
.hero-text .round-btn {
  display: none;
}
@media (min-width: 768px) {
  .hero-text {
    display: block;
    margin-left: 120px;
    margin-top: 66px;
  }
  .hero-text-item {
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
  }
  .hero-text .round-btn {
    display: block;
    height: 18px;
    width: 18px;
    margin-top: 7px;
    padding-top: 5px;
  }
}
@media (min-width: 1200px) {
  .hero-text {
    margin-left: 180px;
    margin-top: 85px;
    width: 200px;
  }
  .hero-text .round-btn {
    height: 26px;
    width: 26px;
    margin-top: 20px;
    padding-top: 7px;
  }
  .hero-text-item {
    font-size: 14px;
    line-height: 1.5;
  }
}

.hero .round-btn-item-svg {
  display: block;
  width: 6px;
  height: 7px;
  margin: 0 auto;
  fill: #C7133E;
}
@media (min-width: 1200px) {
  .hero .round-btn-item-svg {
    width: 10px;
    height: 11px;
  }
}

.hero-list {
  display: none;
}
@media (min-width: 768px) {
  .hero-list {
    display: block;
    position: absolute;
    top: 96px;
    right: 34px;
  }
  .hero-list .title {
    font-size: 28px;
    line-height: 1.143;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .hero-list .title {
    font-size: 46px;
    line-height: 1.152;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .hero-list {
    top: 160px;
    margin-right: 9px;
  }
}

.hero-list-item {
  position: relative;
}
.hero-list-item:first-child {
  margin-bottom: 15px;
}

.hero-list-item::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .hero-list-item::before {
    width: 30px;
    height: 30px;
    right: 9px;
  }
}

.item-circle {
  position: relative;
}

.hero-number-title {
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .hero-number-title {
    font-size: 14px;
    line-height: 1.286;
  }
}

.hero-button .primary-btn,
.hero-button .secondary-btn {
  display: inline-block;
  min-width: 62px;
  padding: 6px 13px;
  border: none;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
}
@media (min-width: 768px) {
  .hero-button .primary-btn,
.hero-button .secondary-btn {
    padding: 7px 13px;
  }
}
@media (min-width: 1200px) {
  .hero-button .primary-btn,
.hero-button .secondary-btn {
    padding: 10px 25px;
    font-size: 14px;
    line-height: 1.286;
    min-width: 104px;
  }
}

.hero-button .secondary-btn {
  margin-left: 8px;
  min-width: 83px;
}

.section-products {
  padding-top: 121px;
  padding-bottom: 98px;
  max-width: 480px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-products {
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  .section-products {
    min-width: 1200px;
  }
}

.subtitle.products {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
}

.title.products {
  text-align: center;
}

.picture-img {
  margin-bottom: 22px;
  top: 0%;
  right: 10px;
  position: absolute;
  transform: translateY(-47%);
}
@media (min-width: 768px) {
  .picture-img {
    right: 0;
    transform: translateY(-46%);
  }
}
@media (min-width: 1200px) {
  .picture-img {
    right: -7px;
    transform: translateY(-62%);
  }
}

.products-card-item {
  padding-top: 160px;
  position: relative;
  max-width: 280px;
  margin: 0 auto;
}
.products-card-item.icecream, .products-card-item.icecoffee, .products-card-item.milkshakes {
  background-color: #FFB8CA;
  height: 100%;
  border-radius: 24px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .products-card-item.icecream, .products-card-item.icecoffee, .products-card-item.milkshakes {
    width: calc((100% - 20px * 2) / 3);
  }
}
@media (min-width: 1200px) {
  .products-card-item.icecream, .products-card-item.icecoffee, .products-card-item.milkshakes {
    padding-bottom: 50px;
    padding-right: 45px;
    padding-left: 45px;
    width: calc((100% - 30px * 2) / 3);
  }
}
.products-card-item.icecoffee {
  background-color: #F0D1A5;
}
.products-card-item.milkshakes {
  background-color: #C2E297;
}

.products-card-item:not(:last-child) {
  margin-bottom: 133px;
}
@media (min-width: 768px) {
  .products-card-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.round-btn-item-svg {
  fill: #C7133E;
}
.round-btn-item-svg:hover, .round-btn-item-svg:focus {
  fill: #D41443;
}

.product-name {
  margin-bottom: 30px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .product-name {
    font-size: 30px;
    line-height: 1.13;
  }
}

.circles-svg {
  fill: #ffffff;
  margin-bottom: 30px;
}

.product-text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
@media (min-width: 768px) {
  .product-text {
    line-height: 1.76;
  }
}
@media (min-width: 1200px) {
  .product-text {
    font-size: 16px;
  }
}

.product-info {
  text-align: center;
}
.product-info .round-btn {
  margin: 0 auto;
}

.products-card {
  padding-top: 140px;
}
@media (min-width: 768px) {
  .products-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .products-card {
    padding-top: 260px;
  }
}

.products .round-btn-item-svg {
  padding-top: 2px;
}

.tradition {
  padding-top: 125px;
  padding-bottom: 145px;
  background-color: #FFF5F6;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .background {
    background-image: url("/mobile-milk-bg.c649b422.png");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (max-width: 767px) {
  .background {
    background-image: url("/mobile-milk-bg@2x.e558bdea.png");
  }
}
@media screen and (min-width: 1200px) {
  .background {
    background-image: url("/desktop-milk-bg.2bc43540.png");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 1200px) {
  .background {
    background-image: url("/desktop-milk-bg@2x.3646cca1.png");
  }
}

.title-tradition {
  text-align: center;
}

.picture-tradition {
  width: 100%;
  margin-top: 26px;
}

.deskription-block {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 46px;
}

.diskription-first {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #000000;
}

.diskription-second {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #907E82;
  margin-top: 36px;
}

.diskription-third {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #907E82;
  margin-top: 20px;
}

.btn-container {
  margin-top: 20px;
}

.tradition-btn {
  display: block;
  background: #ffffff;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  padding: 12px 10px;
  border: none;
}

.button-icon-tradition {
  width: 10px;
  height: 10px;
  fill: #D41443;
  margin-left: 14px;
}

.text-btn-tradition {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  color: #D41443;
}
@media (min-width: 768px) {
  .text-btn-tradition {
    font-size: 16px;
  }
}

.icon-tradition {
  margin-top: 38px;
}

.icon-title {
  margin-top: 25px;
}

.icon-diskription {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.667;
  color: #000000;
  margin-top: 25px;
}

.block-information {
  margin-right: 30px;
}

@media (min-width: 768px) {
  .tradition {
    padding-top: 130px;
    padding-bottom: 246px;
  }

  .title-tradition {
    margin: 0 auto;
  }

  .container-tablet {
    display: flex;
  }

  .picture-tradition {
    margin-top: 50px;
  }

  .deskription-block {
    margin: 0;
    padding-left: 17px;
    margin-top: 100px;
    width: 50%;
  }

  .diskription-first {
    margin-right: 0;
    font-size: 14px;
    line-height: 1.786;
  }

  .diskription-second {
    margin-top: 35px;
    margin-right: 0;
    font-size: 14px;
    line-height: 1.786;
  }

  .diskription-third {
    margin-top: 25px;
    margin-right: 0;
    font-size: 14px;
    line-height: 1.786;
  }

  .btn-container {
    margin-top: 62px;
    margin-right: 0;
  }

  .container-information {
    display: flex;
    justify-content: space-between;
  }

  .icon-tradition {
    margin-top: 66px;
  }

  .icon-title {
    margin-top: 36px;
  }

  .icon-diskription {
    margin-top: 15px;
    margin-right: 0;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
@media (min-width: 1200px) {
  .tradition {
    padding-top: 125px;
    padding-bottom: 310px;
  }

  .picture-block {
    min-width: 516px;
    min-height: 516px;
  }

  .picture-tradition {
    margin-top: 55px;
  }

  .deskription-block {
    padding-left: 74px;
    margin-top: 106px;
  }

  .diskription-first {
    font-size: 16px;
    line-height: 1.786;
  }

  .diskription-second {
    margin-top: 35px;
  }

  .diskription-third {
    margin-top: 45px;
  }

  .btn-container {
    margin-top: 45px;
  }

  .block-information {
    width: calc((100% - 2 * 100px) / 3);
  }

  .icon-tradition {
    margin-top: 40px;
  }

  .icon-title {
    margin-top: 40px;
  }
}
.container-image {
  margin: 0 auto;
  transform: translateY(-40%);
}

.reviews .container {
  margin-bottom: 250px;
}

.slider,
.slide {
  width: 100%;
}

.slide-review,
.slide-client-name {
  color: #000000;
  text-align: center;
}

.slide-client-name {
  display: block;
  color: #000000;
  font-size: 14px;
  margin-bottom: 35px;
}

.slide-photo {
  margin: 0 auto;
  margin-bottom: 29px;
}

.slide-review {
  width: 100%;
  line-height: 255%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 25px;
  background-image: linear-gradient(#ccc 1px, transparent 1px);
  background-size: 80px 30px;
  background-position-y: 117px;
}
@media (min-width: 768px) {
  .slide-review {
    background-size: 80px 35px;
    background-position-y: 135px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .slide-review {
    background-size: 80px 38px;
    background-position-y: 150px;
  }
}
.slide-review::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 30px;
  left: 60px;
  display: block;
  width: 54px;
  height: 40px;
  background-color: transparent;
  background-image: url(/bracket.bad4bb1b.svg);
}
@media (min-width: 768px) {
  .slide-review::before {
    left: 70px;
  }
}
.slide-review::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 32px;
  height: 4px;
  top: 330px;
  left: 120px;
  display: block;
  background-image: url(/circles-red.df0f2952.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  color: #C7133E;
}

.slide-container {
  width: 280px;
  min-height: 308px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  background-color: #FAFAFA;
  padding: 43px 66px 0 57px;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .slide-container {
    width: 620px;
    min-height: 164px;
    padding: 47px 80px 0 80px;
  }
}
@media (min-width: 1200px) {
  .slide-container {
    width: 926px;
    min-height: 138px;
    padding: 47px 88px 0 88px;
  }
}

@media (min-width: 1200px) {
  .footer {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/footer1x.1717505d.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .footer {
    background-image: url(/footer@2x.ad557981.png);
  }
}
.footer {
  position: relative;
  background-color: #FFF5F6;
}

.ice-cream-point {
  margin: 0 auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  width: 220px;
  padding: 43px 20px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media (min-width: 768px) {
  .ice-cream-point {
    font-size: 14px;
    padding: 50px 32px;
    width: calc((100% - 40px) / 3);
  }
  .ice-cream-point:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .ice-cream-point {
    font-size: 16px;
    padding: 51px 44px 62px;
    width: calc((100% - 60px) / 3);
  }
  .ice-cream-point:not(:last-child) {
    margin-right: 30px;
  }
}
.ice-cream-point h3 {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .ice-cream-point:not(:last-child) {
    margin-bottom: 20px;
  }
}
.ice-cream-network {
  transform: translateY(-7%);
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .ice-cream-network {
    transform: translateY(-13%);
    display: flex;
    margin-bottom: 81px;
  }
}
@media (min-width: 1200px) {
  .ice-cream-network {
    transform: translateY(-17%);
    margin-bottom: 86px;
  }
}

.cafe {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .cafe {
    margin-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .cafe {
    margin-bottom: 10px;
  }
}
.cafe::before {
  content: "Cafe";
  display: block;
  width: max-content;
  min-height: 16px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  color: #ffffff;
  background: #F0D1A5;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .cafe::before {
    min-height: 28px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .cafe::before {
    margin-bottom: 32px;
  }
}

.foodtruck {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .foodtruck {
    margin-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .foodtruck {
    margin-bottom: 10px;
  }
}
.foodtruck::before {
  content: "foodtruck";
  display: block;
  width: max-content;
  min-height: 16px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  color: #ffffff;
  background: #C2E297;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .foodtruck::before {
    min-height: 28px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .foodtruck::before {
    margin-bottom: 32px;
  }
}

.info-subject {
  display: block;
  line-height: 1.5;
  margin-bottom: 25px;
  letter-spacing: normal;
}
@media (min-width: 768px) {
  .info-subject {
    line-height: 1.643;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .info-subject {
    line-height: 1.813;
    margin-bottom: 32px;
  }
}

.scedule-list::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .scedule-list::before {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .scedule-list::before {
    margin-bottom: 32px;
  }
}

.info-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}
@media (min-width: 768px) {
  .info-title {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .info-title {
    font-size: 16px;
  }
}

.work-hours {
  color: #FFA5BA;
}

.scedule-item {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .scedule-item {
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .scedule-item {
    margin-bottom: 15px;
  }
}
.scedule-item:last-child {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .scedule-item:last-child {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .scedule-item:last-child {
    margin-bottom: 32px;
  }
}

.contacts::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .contacts::before {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts::before {
    margin-bottom: 32px;
  }
}

.contacts-subject {
  font-style: normal;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .contacts-subject {
    line-height: 1.643;
  }
}
@media (min-width: 1200px) {
  .contacts-subject {
    line-height: 1.813;
  }
}

.footer-button {
  text-align: center;
  margin-bottom: 119px;
}
@media (min-width: 768px) {
  .footer-button {
    margin-bottom: 158px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .footer-button {
    margin-bottom: 165px;
  }
}
.footer-button .primary-btn {
  display: block;
  font-weight: 700;
  border-radius: 22px;
  line-height: 1.313;
  padding: 10px 14px;
  max-width: 164px;
  min-height: 44px;
  fill: #ffffff;
  margin: 0 auto;
  margin-bottom: 10px;
  border: none;
}
.footer-button .primary-btn .vector {
  margin-left: 5px;
}
@media (min-width: 768px) {
  .footer-button .primary-btn {
    width: 192px;
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .footer-button .primary-btn {
    max-width: 198px;
  }
}
.footer-button .secondary-btn {
  display: block;
  font-weight: 700;
  border-radius: 22px;
  line-height: 1.313;
  padding: 10px 15px;
  max-width: 161px;
  min-height: 44px;
  fill: #D41443;
  margin: 0 auto;
  border: none;
}
.footer-button .secondary-btn .vector {
  margin-left: 13px;
}
@media (min-width: 768px) {
  .footer-button .secondary-btn {
    width: 174px;
    margin-left: 15px;
  }
}
@media (min-width: 1200px) {
  .footer-button .secondary-btn {
    width: 180px;
  }
}

.footer-subtitle {
  display: block;
  width: 234px;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .footer-subtitle {
    width: 340px;
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .footer-subtitle {
    width: 474px;
    margin-bottom: 15px;
  }
}

.footer-title {
  display: block;
  width: 200px;
  margin-bottom: 43px;
}
@media (min-width: 768px) {
  .footer-title {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .footer-title {
    width: 477px;
  }
}

.social-link-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}

.social-link-item:not(:first-child) {
  margin-left: 28px;
}
@media (min-width: 768px) {
  .social-link-item:not(:first-child) {
    margin-left: 30px;
  }
}
@media (min-width: 1200px) {
  .social-link-item:not(:first-child) {
    margin-left: 24px;
  }
}
.social-link-item .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}

.commercial-contact {
  text-align: right;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.833;
  color: #000000;
}
@media (min-width: 768px) {
  .commercial-contact {
    font-size: 14px;
    line-height: 1.85;
  }
}
@media (min-width: 1200px) {
  .commercial-contact {
    font-size: 16px;
    line-height: 1.875;
  }
}
.commercial-contact .commercial-tel {
  color: #D41443;
}
@media screen and (max-width: 767px) {
  .commercial-contact {
    margin-bottom: 43px;
  }
}

@media (min-width: 768px) {
  .all-about-us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
  }
}
@media (min-width: 1200px) {
  .all-about-us {
    margin-bottom: 97px;
  }
}

.copyright {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 22px;
  padding-bottom: 25px;
  width: 150px;
}
@media (min-width: 768px) {
  .copyright {
    line-height: 1.86;
    letter-spacing: 0.02em;
    padding-top: 29px;
    padding-bottom: 18px;
    min-width: 276px;
  }
}
@media (min-width: 1200px) {
  .copyright {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.footer-copyright::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */