$primary-bg: #FFF5F6;
$rose-bg: #FFB8CA;
$black-text-color: #000000;
$grey-text-color: #907E82;
$rose-text-color: #FFA5BA;
$cherry-text-color: #D41443;
$white-color: #ffffff;
$accent-color: #C7133E;
$accent-grey-color: #ECEBEB;
$bege-color: #F0D1A5;
$green-color: #C2E297;
$social-link-color: #FEA5BB;
$phrase-bg-color: #FAFAFA; 