<footer class="footer">

    <div class="container">

    <div id="about" class="ice-cream-network">

    <div class="ice-cream-point">

            <p class="info-title cafe">Chicago</p>
            <span class="info-subject">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>

            <ul class="scedule-list">

            <li class="scedule-item">
              <p class="info-title">Monday - Friday</p>
            <span class="work-hours">06:00 AM - 10:00 PM</span>
          </li>

            <li class="scedule-item">
            <p class="info-title">Saturday - Sunday</p>
            <span class="work-hours">08:00 AM - 16:00 PM</span>
          </li>

          </ul>

          <address class="contacts">
            <ul class="contacts-list">
              <li class="contacts-item">
                <a href="tel:+610383766284" class="link contacts-subject">+61(0) 383 766 284</a>
              </li>
              <li class="contacts-item">
              <a href="mailto:noreply@envato.com" class="link contacts-subject">noreply@envato.com</a>
            </li>
          </ul>
        </address>
        
    </div>
      
    <div class="ice-cream-point">

        <p class="info-title foodtruck">Los Angeles</p>
        <span class="info-subject">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>

        <ul class="scedule-list">

        <li class="scedule-item">
          <p class="info-title">Monday - Friday</p>
        <span class="work-hours">06:00 AM - 10:00 PM</span>
      </li>

        <li class="scedule-item">
        <p class="info-title">Saturday - Sunday</p>
        <span class="work-hours">08:00 AM - 16:00 PM</span>
      </li>

      </ul>

      <address class="contacts">
        <ul class="contacts-list">
          <li class="contacts-item">
            <a href="tel:+610383766284" class="link contacts-subject">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-item">
          <a href="mailto:noreply@envato.com" class="link contacts-subject">noreply@envato.com</a>
        </li>
        </ul>
      </address>

    </div>

    <div class="ice-cream-point">

      <p class="info-title cafe">New York</p>
      <span class="info-subject">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>

      <ul class="scedule-list">

        <li class="scedule-item">
          <p class="info-title">Monday - Friday</p>
          <span class="work-hours">06:00 AM - 10:00 PM</span>
        </li>

        <li class="scedule-item">
          <p class="info-title">Saturday - Sunday</p>
          <span class="work-hours">08:00 AM - 16:00 PM</span>
        </li>

    </ul>

    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a href="tel:+610383766284" class="link contacts-subject">+61(0) 383 766 284</a>
        </li>
        <li class="contacts-item">
        <a href="mailto:noreply@envato.com" class="link contacts-subject">noreply@envato.com</a>
      </li>
    </ul>
    </address>

    </div>

    </div>

    <div class="footer-button">
    <a href="" class="button primary-btn"> Our Locations
          <svg class="vector" width="10px" height="10px" >
            <use href="./images/svg/sprite.svg#icon-btn-breket">
            </use>
          </svg>
    </a>
        
      <a href="" class="button secondary-btn">Franchise
        <svg class="vector" width="10px" height="10px" >
          <use href="./images/svg/sprite.svg#icon-btn-breket">
          </use>
        </svg>
      </a>
    </div>

    <div class="all-about-us">

    <div class="footer-title">
    <h2 class="title footer-title"><span class="subtitle footer-subtitle">homemade ice cream made</span>with passion</h2>
    </div>

    <div id="contact" class="feedback">
    <ul class="social-link-list">
      <li class="social-link-item">
          <a href="https://github.com/" class="social-link" target="_blank" aria-label="GitHub link">
                    <svg class="network-icon" width= "20px" height= "20px">
                      <use href="./images/svg/sprite.svg#icon-git">
                      </use>
                    </svg>
                  </a>
      </li>
      <li class="social-link-item">
          <a href="https://web.telegram.org/" class="social-link" target="_blank" aria-label="Telegram link">
                    <svg class="network-icon" width= "20px" height= "20px">
                      <use href="./images/svg/sprite.svg#icon-telegram">
                      </use>
                    </svg>
                  </a>
      </li>
      <li class="social-link-item">
          <a href="https://www.facebook.com/" class="social-link" target="_blank" aria-label="Facebook link">
                    <svg class="network-icon" width= "20px" height= "20px">
                      <use href="./images/svg/sprite.svg#icon-facebook">
                      </use>
                    </svg>
                  </a>
      </li>
    </ul>

    <p class="commercial-contact">
      Feel free to contact
      <a href="tel:+610383766284" class="commercial-tel"> +61 (0) 383 766 284</a>
    </p>
    
   </div>

  </div>

  </div>

  <div class="footer-copyright">
  
      <span class="copyright">
      © 2019 - IceCream.
      All Rights Reserved. 
    </span>
  </div>
  
</footer>