<footer class="footer">

  <div class="first-column">
 
  </ul class="">

    <li class="item">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>

    <li class="item">Monday - Friday
    06:00 AM - 10:00 PM</li>

    <li class="item"> Saturday - Sunday
    08:00 AM - 16:00 PM</li>

    <li class="item">
    <address>
      <ul>
        <li>+61(0) 383 766 284</li>
        <li>noreply@envato.com</li>
      </ul>
  </address>
  </li>

</ul>

  </div>
  
  <div>
    
      Foodtrack
      Los Angeles
      Fusce ut velit laoreet, tempus arcu molestie vulputate
  
      Monday - Friday
      06:00 AM - 10:00 PM
  
      Saturday - Sunday
      08:00 AM - 16:00 PM
  
      <address>
        <ul>
          <li>+61(0) 383 766 284</li>
          <li>noreply@envato.com</li>
        </ul>
    </address>
    </div>

    <div>
      
        Cafe
        New York
        Fusce ut velit laoreet, tempus arcu molestie vulputate
    
        Monday - Friday
        06:00 AM - 10:00 PM
    
        Saturday - Sunday
        08:00 AM - 16:00 PM

        <address>
          <ul>
            <li>+61(0) 383 766 284</li>
            <li>noreply@envato.com</li>
          </ul>
      </address>

      </div>

      <button type="button" class="primary-btn">Our locations
      
        <!-- <svg class="vector"width="7px" height="10px" >
          <use href="./images/svg/sprite.svg#icon-problem-button">
          </use>
        </svg> -->
    
    </button>
    <button type="button" class="secondary-btn">Franchise
    
    </button>

      <h2 class="title"><span class="subtitle">ice cream made</span>with passion</h2>

      <ul>
        <li class="social-links">
           <a href="" class="" aria-label="Facebook link">
                      <svg class="network-icon">
                        <use href="./images/svg/sprite.svg#icon-facebook">
                        </use>
                      </svg>
                    </a>
        </li>
        <li class="social-links">
           <a href="" class="" aria-label="Facebook link">
                      <svg class="network-icon">
                        <use href="./images/svg/sprite.svg#icon-facebook">
                        </use>
                      </svg>
                    </a>
        </li>
        <li class="social-links">
           <a href="" class="" aria-label="Facebook link">
                      <svg class="network-icon">
                        <use href="./images/svg/sprite.svg#icon-git">
                        </use>
                      </svg>
                    </a>
        </li>
      </ul>

      <span>
        Feel free to contac
        <a href="tel:+610383766284">+61 (0) 383 766 284</a>
      </span>
      <div>
        <p>
        © 2019 - IceCream.
        All Rights Reserved. 
      </p></div>
    </footer>