<section class="section-hero">
  <div class="container hero">
    <h2 class="title hero">
      <span class="subtitle products">ice cream made with</span>passion
    </h2>
    <div class="hero-button">
      <button type="button" class="primary-btn">Products</button>
      <button type="button" class="secondary-btn">How it's made?</button>
    </div>
    <u>
      <li>
        <p class="title">16</p>
        <span>cafes</span>
      </li>
      <li>
        <p class="title">23</p>
        <span>food trucks</span>
      </li>
    </u>
    <div class="hero-text">
      <p class="hero-text-item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="round-btn" width="26" height="26">
        <svg class="round-btn-item-svg">
          <use
            class="round-btn-icon"
            href="./images/svg/sprite.svg#icon-arrow"
            width="10"
            height="10"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
