<section class="section-hero">
  <div class="container hero">
    <h1 class="title hero">
      <span class="subtitle hero">ice cream made with</span>passion
    </h1>
    <div class="hero-button">
      <button type="button" class="primary-btn">Products</button>
      <button type="button" class="secondary-btn">How it's made?</button>
    </div>
    <ul class="hero-list">
      <li class="hero-list-item">
        <p class="title item-circle">16</p>
        <span class="hero-number-title">cafes</span>
      </li>
      <li class="hero-list-item">
        <p class="title item-circle">23</p>
        <span class="hero-number-title">food trucks</span>
      </li>
    </ul>
    <div class="hero-text">
      <p class="hero-text-item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="round-btn">
        <svg class="round-btn-item-svg">
          <use
            class="round-btn-icon"
            href="./images/svg/sprite.svg#icon-arrow"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
