<section class="hero">
  <div class="container">
    <div class="hero-button">
      <h1 class="title">
        <span class="subtitle hero">ice cream made with</span>passion
      </h1>
      <a href="#products" class="button primary-btn">Products</a>
      <a href="#how" class="button secondary-btn">How it's made?</a>
    </div>
    <ul class="hero-list">
      <li class="hero-list-item">
        <p class="title item-circle">16</p>
        <span class="hero-number-title">cafes</span>
      </li>
      <li class="hero-list-item">
        <p class="title item-circle">23</p>
        <span class="hero-number-title">food trucks</span>
      </li>
    </ul>
    <div class="hero-text">
      <p class="hero-text-item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="#" class="button round-btn">
        <svg class="round-btn-item-svg">
          <use
            class="round-btn-icon"
            href="./images/svg/sprite.svg#icon-arrow">
          </use>
        </svg>
      </a>
      
    </div>
  </div>
</section>
