<section class="section-products">
  <div class="container products">
    <h2 id="products" class="title products">
      <span class="subtitle products">100% natural</span>Products
    </h2>
    <ul class="products-card">
      <li class="products-card-item icecream">
        <picture class="products-picture">
          <source
            srcset="
              ./images/optimise-images/desctop-icecream1x.webp 1x,
              ./images/optimise-images/desctop-icecream2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/desctop-icecream1x.png 1x,
              ./images/optimise-images/desctop-icecream2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/optimise-images/tablet-icecream1x.webp 1x,
              ./images/optimise-images/tablet-icecream2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/tablet-icecream1x.png 1x,
              ./images/optimise-images/tablet-icecream2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/optimise-images/mobile-icecream1x.webp 1x,
              ./images/optimise-images/mobile-icecream2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/mobile-icecream1x.png 1x,
              ./images/optimise-images/mobile-icecream2x.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            src="./images/optimise-images/mobile-icecream1x.png"
            alt="Ice cream picture"
            class="picture-img"
          />
        </picture>
        <div class="product-info">
          <h3 class="product-name">Ice cream</h3>
          <svg class="circles-svg" width="26" height="6">
            <use href="./images/svg/sprite.svg#icon-circles"></use>
          </svg>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="" class="button round-btn"> 
          <svg class="round-btn-item-svg" width="15" height="15">
              <use
                class="round-btn-icon"
                href="./images/svg/sprite.svg#icon-arrow"
                width="15"
                height="15">
              </use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products-card-item icecoffee">
        <picture class="products-picture">
          <source
            srcset="
              ./images/optimise-images/desctop-icecoffee1x.webp 1x,
              ./images/optimise-images/desctop-icecoffee2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/desctop-icecoffee1x.png 1x,
              ./images/optimise-images/desctop-icecoffee2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/optimise-images/tablet-icecoffee1x.webp 1x,
              ./images/optimise-images/tablet-icecoffee2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/tablet-icecoffee1x.png 1x,
              ./images/optimise-images/tablet-icecoffee2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/optimise-images/mobile-icecoffee1x.webp 1x,
              ./images/optimise-images/mobile-icecoffee2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/mobile-icecoffee1x.png 1x,
              ./images/optimise-images/mobile-icecoffee2x.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            src="./images/optimise-images/mobile-icecoffee1x.png"
            alt="Ice coffee picture"
            class="picture-img"
          />
        </picture>

        <div class="product-info">
          <h3 class="product-name">Ice cream</h3>
          <svg class="circles-svg" width="26" height="6">
            <use href="./images/svg/sprite.svg#icon-circles"></use>
          </svg>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="" class="button round-btn"> 
          <svg class="round-btn-item-svg" width="15" height="15">
              <use
                class="round-btn-icon"
                href="./images/svg/sprite.svg#icon-arrow"
                width="15"
                height="15">
              </use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products-card-item milkshakes">
        <picture class="products-picture">
          <source
            srcset="
              ./images/optimise-images/desctop-milkshakes1x.webp 1x,
              ./images/optimise-images/desctop-milkshakes2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/desctop-milkshakes1x.png 1x,
              ./images/optimise-images/desctop-milkshakes2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/optimise-images/tablet-milkshakes1x.webp 1x,
              ./images/optimise-images/tablet-milkshakes2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/tablet-milkshakes1x.png 1x,
              ./images/optimise-images/tablet-milkshakes2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/optimise-images/mobile-milkshakes1x.webp 1x,
              ./images/optimise-images/mobile-milkshakes2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/mobile-milkshakes1x.png 1x,
              ./images/optimise-images/mobile-milkshakes2x.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            src="./images/optimise-images/mobile-milkshakes1x.png"
            alt="Milkshake picture"
            class="picture-img"
          />
        </picture>
        <div class="product-info">
          <h3 class="product-name">Ice cream</h3>
          <svg class="circles-svg" width="26" height="6">
            <use href="./images/svg/sprite.svg#icon-circles"></use>
          </svg>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="" class="button round-btn"> 
          <svg class="round-btn-item-svg" width="15" height="15">
              <use
                class="round-btn-icon"
                href="./images/svg/sprite.svg#icon-arrow"
                width="15"
                height="15">
              </use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
