<section class="reviews">
<h2 class="visually-hidden">reviews</h2>
  <div class="container">
    <picture>
      <source srcset="./images/optimise-images/desctop-review1x.webp 1x,
                      ./images/optimise-images/desctop-review2x.webp 2x"
                      media="(min-width: 1200px)"
                      type="image/webp">
      <source srcset="./images/optimise-images/desctop-review1x.jpg 1x,
                      ./images/optimise-images/desctop-review2x.jpg 2x"
                      media="(min-width: 1200px)">

      <source srcset="./images/optimise-images/tablet-review1x.webp 1x,
                      ./images/optimise-images/tablet-review2x.webp 2x"
                      media="(min-width: 768px)"
                      type="image/webp">
      <source srcset="./images/optimise-images/tablet-review1x.jpg 1x,
                      ./images/optimise-images/tablet-review2x.jpg 2x"
                      media="(min-width: 768px)">
        <source srcset="./images/optimise-images/mobile-review1x.webp 1x,
                      ./images/optimise-images/mobile-review2x.webp 2x"
                      media="(min-width: 320px)"
                      type="image/webp">
      <source srcset="./images/optimise-images/mobile-review1x.jpg 1x,
                      ./images/optimise-images/mobile-review2x.jpg 2x"
                      media="(min-width: 320px)">

      <img class="container-image" src="./images/optimise-images/mobile-review1x.jpg" alt="gallery">                
    </picture>
    
    <div class="slider">
      <div class="slide">
        <picture>
          <source srcset="./images/optimise-images/desktop-baby.webp 1x,
                          ./images/optimise-images/desktop-baby@2x.webp 2x"
                          type="image/webp">
          <source srcset="./images/optimise-images/desktop-baby.png 1x,
                          ./images/optimise-images/desktop-baby@2x.png 2x">

          <img class="slide-photo" src="./images/optimise-images/desktop-baby.png" alt="" width="85" height="85">  
        </picture>
        <div class="slide-container">
          <p class="slide-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      <span class="slide-client-name">Emily, Los Angeles</span>
      </div>
      <div class="slide">
        <picture>
          <source srcset="./images/optimise-images/desktop-baby2.webp 1x,
                          ./images/optimise-images/desktop-baby2@2x.webp 2x"
                          type="image/webp">
          <source srcset="./images/optimise-images/desktop-baby2.png 1x,
                          ./images/optimise-images/desktop-baby2@2x.png 2x">

          <img class="slide-photo" src="./images/optimise-images/desktop-baby2.png" alt="" width="85" height="85">  
        </picture>
        <div class="slide-container">
          <p class="slide-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>  
      <span class="slide-client-name">Emily, Los Angeles</span>
      </div>
      <div class="slide">
        <picture>
          <source srcset="./images/optimise-images/desktop-baby3.webp 1x,
                          ./images/optimise-images/desktop-baby3@2x.webp 2x"
                          type="image/webp">
          <source srcset="./images/optimise-images/desktop-baby3.png 1x,
                          ./images/optimise-images/desktop-baby3@2x.png 2x">

          <img class="slide-photo" src="./images/optimise-images/desktop-baby3.png" alt="" width="85" height="85">  
        </picture>
        <div class="slide-container">
          <p class="slide-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div> 
      <span class="slide-client-name">Emily, Los Angeles</span>
    </div>
    </div>
  </div>
</section>