<section class="tradition background">
  <div class="container">
    <h2 id="how" class="title title-tradition">
      <span class="subtitle subtitle-tradition">tradition and love</span> <br />
      how it’s made?
    </h2>
    <div class="container-tablet">
      <div class="picture-block">
        <picture class="tradition-picture">
          <source
            srcset="
              ./images/optimise-images/desktop-cow.webp    1x,
              ./images/optimise-images/desktop-cow@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/desktop-cow.png    1x,
              ./images/optimise-images/desktop-cow@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/optimise-images/tablet-cow.webp    1x,
              ./images/optimise-images/tablet-cow@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/tablet-cow.png    1x,
              ./images/optimise-images/tablet-cow@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/optimise-images/mobile-cow.webp    1x,
              ./images/optimise-images/mobile-cow@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/mobile-cow.png    1x,
              ./images/optimise-images/mobile-cow@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/optimise-images/mobile-cow.png"
            alt="cow width milk picture"
            class="picture-tradition"
          />
        </picture>
      </div>
      <div class="deskription-block">
        <p class="diskription-first">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="diskription-second">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="diskription-third">Aliquam erat volutpat. Aenean accumsan.</p>
        <div class="btn-container">
        <a href="" class="button secondary-btn tradition-btn"> 
            <span class="text-btn-tradition">Read more</span>
            <svg class="button-icon-tradition" width="5" height="8">
              <use href="./images/svg/sprite.svg#icon-btn-breket"></use>
            </svg>
        </a>
        </div>
      </div>
    </div>
    <ul class="container-information">
      <li class="block-information">
        <img
          src="./images/icon-png/icon1.png"
          alt="picture with cow"
          class="icon-tradition"
        />
        <p class="title icon-title">721</p>
        <p class="icon-diskription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="block-information">
        <img
          src="./images/icon-png/icon2.png"
          alt="picture with cow"
          class="icon-tradition"
        />
        <p class="title icon-title">16kg</p>
        <p class="icon-diskription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="block-information">
        <img
          src="./images/icon-png/icon3.png"
          alt="picture with cow"
          class="icon-tradition"
        />
        <p class="title icon-title">84</p>
        <p class="icon-diskription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
