.primary-btn {
  text-align: center;
  border-radius: 20px;
  color: $white-color;
  background-color: $cherry-text-color;
  font-size: 16px;
  outline: none;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}