.round-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: $white-color;
  border-radius: 50%;
  outline: none;
  border: none;
  display: block;
  padding-top: 10px;
  &:hover,
  &:focus {
    background-color: $accent-grey-color;
  }
}
