.title {
  text-transform: uppercase;
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  color: $cherry-text-color;
  @include for-size(tablet) {
    font-size: 48px;
    line-height: 1.145;
  }
  @include for-size(desktop) {
    font-size: 58px;
    line-height: 1.137;
    letter-spacing: 0.06em;
  }
}
.subtitle {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.167;
  color: $rose-text-color;

  @include for-size(tablet) {
    font-size: 26px;
    line-height: 1.154;
  }
  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }
}
