header {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header .container {
  display: flex;
  align-items: center;
  padding-top: 6px;
  // z-index: 1;
  // margin: 0 auto;
  @include for-size(tablet) {
    padding-top: 37px;
  }
  @include for-size(tablet) {
    justify-content: space-between;
  }
}
.header a {
font: inherit;
color: inherit;
text-decoration: inherit;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parent {
  margin-left: 45px;
  @include for-size(tablet) {
    margin-left: 260px;
  }
  @include for-size(desktop) {
    margin-left: 0;
  }
}

.header-nav-list {
  display: none;
  font-weight: 700;
  // padding-right: 20px;
  color: $white-color;
  // letter-spacing: -0.4px;

  @include for-size(desktop) {
    display: flex;
    width: 541px;
    // justify-content: space-between;
  }

  .current {
    color: $cherry-text-color;
  }
}
.header-nav-list-li:not(:last-child) {
  margin-right: 35px;
}
.header-nav-list-li:hover {
  color: $accent-color;
  transition: all 250ms linear;
}
.header-nav-list-li a:focus {
  color: $accent-color;
  transition: all 250ms linear;
}
.logo {
  margin-right: auto;
  @include for-size(desktop) {
    margin-left: -70px;
  }
}
// ---------------------Кнопки
.header-btn {
  display: none;
  font-weight: 700;

  @include for-size(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0 40px;
    line-height: 44px;
    // min-width: 160px;
    // height: 44px;
  }

  &::after {
    content: '';
    display: block;
    width: 7px;
    height: 10px;
    background-color: transparent;
    background-image: url(../images/svg/btn.svg);
    margin-left: 10px;
  }
}

.menu-button {
  border: none;
  outline: $cherry-text-color;
  background-color: transparent;
  position: relative;
  top: 23px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    top: 19px;
    right: 0px;
  }

  @include for-size(tablet) {
    top: 15px;
  }

  z-index: 5;
  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @include for-size(desktop) {
    display: none;
  }
}

.toclose {
  display: none;
}
// -----------------------Меню
.header-menu {
  visibility: visible;
  opacity: 0;
  position: absolute;
  background-color: $white-color;
  transform: scale(0);
  right: 1000px;
  transition: .5s;
  @include for-size(desktop) {
    display: none;
  }
  .header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    min-width: 160px;
    height: 44px;
    line-height: 44px;
    margin-top: auto;
    margin-bottom: 23px;
    margin-left: auto;
    margin-right: auto;

    &:hover,
    &:focus {
      background-color: $accent-grey-color;
    }
  }
}

.header-menu.is-open {
  right: 6px;
  opacity: 1;
  transform: scale(1);
  @include for-size(tablet) {
    // right: -220px;
    top: 2px;
    right: 35px;
  }
    padding: 50px;
    // width: 254px;
    // height: 1020px;
    background-color: #e17992;

  @include for-size(desktop) {
    display: none;
  }
}

.menu-button.is-open .burger {
  display: none;
}

.menu-button.is-open .toclose {
  display: block;
}

.contra {
  display: flex;
  // position: relative;
  justify-content: space-between;
  // width: 320px;
  // padding-right: 60px;
  // @media screen and (min-width: 320px) and (max-width: 767px) {
  //   // padding-right: 5px;
  // }
  // @include for-size(tablet) {
  //   // width: 1100px;
  // }

  // @include for-size(desktop) {
  //   width: 302px;
  // }
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  color: $white-color;
  li {
    margin-bottom: 23px;
  }
}
.current {
  color: $cherry-text-color;
}
