.hero {
  background-color: $rose-bg;
}
.hero .container {
  position: relative;
  height: 502px;
  padding-top: 193px;
  padding-bottom: 160px;
  background-image: url('../images/optimise-images/mobile-hero-ice.png'),
    url('../images/optimise-images/mobile-circle.png');
  background-repeat: no-repeat;
  background-size: 171px 410px, 284px 344px;
  background-position: 117px 92px, 36px 83px;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 96dpi) and (min-width: 320px),
    screen and (min-resolution: 1dppx) and (min-width: 320px) {
    background-image: url('../images/optimise-images/mobile-hero-ice@2x.png'),
      url('../images/optimise-images/mobile-circle@2x.png');
  }

  @include for-size(tablet) {
    height: 399px;
    padding-top: 102px;
    padding-bottom: 160px;
    background-image: url('../images/optimise-images/tablet-hero-ice.png'),
      url('../images/optimise-images/tablet-hero-girl.png'),
      url('../images/optimise-images/tablet-hero-milk.png'),
      url('../images/optimise-images/tablet-circle.png');

    background-size: 143px 336px, 168px 133px, 124px 126px, 324px 322px;
    // background-position: right 210px bottom, right bottom, left 34px bottom 28px,
    //   right 103px bottom 31px;
    background-position: right 244px bottom, right 44px bottom,
      left 34px bottom 28px, right 144px bottom 31px;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 96dpi) and (min-width: 768px),
      screen and (min-resolution: 1dppx) and (min-width: 768px) {
      background-image: url('../images/optimise-images/tablet-hero-ice@2x.png'),
        url('../images/optimise-images/tablet-hero-girl@2x.png'),
        url('../images/optimise-images/tablet-hero-milk@2x.png'),
        url('../images/optimise-images/tablet-circle@2x.png');
    }
  }
  @include for-size(desktop) {
    height: 665px;
    padding-top: 171px;
    padding-bottom: 292px;
    background-image: url('../images/optimise-images/desktop-hero-ice.png'),
      url('../images/optimise-images/desktop-hero-girl.png'),
      url('../images/optimise-images/desktop-hero-milk.png'),
      url('../images/optimise-images/desktop-hero-circle.png');
    background-size: 235px 557px, 293px 232px, 188px 191px, 538px 538px;
    background-position: left 549px bottom, right 45px bottom, left 30px bottom 45px, left 430px bottom 75px;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 96dpi) and (min-width: 768px),
      screen and (min-resolution: 1dppx) and (min-width: 768px) {
      background-image: url('../images/optimise-images/desktop-hero-ice@2x.png'),
        url('../images/optimise-images/desktop-hero-girl@2x.png'),
        url('../images/optimise-images/desktop-hero-milk@2x.png'),
        url('../images/optimise-images/desktop-hero-circle@2x.png');
    }
  }
}
.hero .title{
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  max-width: 230px;
  text-transform: uppercase;
  @include for-size(tablet) {
    font-size: 34px;
    line-height: 1.15;
    max-width: 162px;
  }
  @include for-size(desktop) {
    font-size: 58px;
    line-height: 1.15;
    max-width: 277px;
    
    margin-bottom: 40px;
  }
}
.hero .subtitle {
  display: block;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  color: $white-color;
  background-color: transparent;
  @include for-size(tablet) {
    font-size: 22px;
    line-height: 1.136;
  }
  @include for-size(desktop) {
    font-size: 38px;
    line-height: 1.15;
  }
}

.hero-text {
  display: none;
  width: 114px;
  .round-btn {
    display: none;
  }
  @include for-size(tablet) {
    display: block;
    margin-left: 120px;
    margin-top: 66px;
    &-item {
      font-size: 8px;
      line-height: 1.5;
      color: $white-color;
    }
    .round-btn {
      display: block;
      height: 18px;
      width: 18px;
      margin-top: 7px;
      padding-top: 5px;
    }
  }
  @include for-size(desktop) {
      margin-left: 180px;
      margin-top: 85px;
      width: 200px;
      .round-btn {
      height: 26px;
      width: 26px;
      margin-top: 20px;
      padding-top: 7px;
    }
    &-item {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}
.hero .round-btn-item-svg {
  display: block;
  width: 6px;
  height: 7px;
  margin: 0 auto;
  fill: $accent-color;
  @include for-size(desktop) {
    width: 10px;
    height: 11px;
  }
}

.hero-list {
  display: none;

  @include for-size(tablet) {
    display: block;
    position: absolute;
    top: 96px;
    // right: 0;
    right: 34px;

    .title {
      font-size: 28px;
      line-height: 1.143;
      margin-bottom: 0;
      @include for-size(desktop) {
        font-size: 46px;
        line-height: 1.152;
        margin-right: 20px;
      }
    }
  }
  @include for-size(desktop) {
    top: 160px;
    margin-right: 9px;
  }
}

.hero-list-item {
  position: relative;
  &:first-child {
    margin-bottom: 15px;
  }
}
.hero-list-item::before {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $white-color;
  @include for-size(desktop) {
    width: 30px;
    height: 30px;
    right: 9px;
  }
}
.item-circle {
  position: relative;
}
.hero-number-title {
  font-size: 8px;
  line-height: 1.25;
  color: $white-color;
  @include for-size(desktop) {
    font-size: 14px;
    line-height: 1.286;
  }
}
.hero-button .primary-btn,
.hero-button .secondary-btn {
  display: inline-block;
  min-width: 62px;
  padding: 6px 13px;
  border: none;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;

  @include for-size(tablet) {
    padding: 7px 13px;
  } 
  @include for-size(desktop) {
    padding: 10px 25px;
    font-size: 14px;
    line-height: 1.286;
    min-width: 104px;
  }
}

.hero-button .secondary-btn {
  margin-left: 8px;
  min-width: 83px;
}
