.container-image {
  margin: 0 auto;
  transform: translateY(-40%);
}
.reviews .container {
  margin-bottom: 250px;
}
.slider,
.slide {
  width: 100%;
}
.slide-review,
.slide-client-name {
 color: $black-text-color;
 text-align: center;
}
.slide-client-name {
  display: block;
  color: $black-text-color;
  font-size: 14px;
  margin-bottom: 35px;
 }
 .slide-photo {
   margin: 0 auto;
   margin-bottom: 29px;
 }
 .slide-review {    
   width: 100%;
  line-height: 255%;       
  padding-left: 5px; 
  padding-right: 5px;   
  padding-bottom: 25px;    
  background-image: linear-gradient(#ccc 1px, transparent 1px);    
  background-size: 80px 30px;    
  background-position-y: 117px;
  @include for-size(tablet) {
    background-size: 80px 35px;    
    background-position-y: 135px;
    padding-left: 15px; 
    padding-right: 15px; 
  }
  @include for-size(desktop) {
    background-size: 80px 38px;    
    background-position-y: 150px;
  }
  
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 60px;
    display: block;
    width: 54px;
    height: 40px;
    background-color: transparent;
    background-image: url(../images/svg/bracket.svg);
    @include for-size(tablet) {
      left: 70px;
    }
   }
   &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 32px;
    height: 4px;
    top: 330px;
    left: 120px;
    display: block;
    // width: 54px;
    // height: 40px;
    // background-color: ;
    background-image: url(../images/svg/circles-red.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    color: $accent-color;
    // @include for-size(tablet) {
    //   left: 70px;
    }
  }
  .slide-container {
    width: 280px;
    min-height: 308px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    background-color: $phrase-bg-color;
    padding: 43px 66px 0 57px;
    margin-bottom: 70px;
    @include for-size(tablet) {
      width: 620px;
      min-height: 164px;
      padding: 47px 80px 0 80px;
    }
    @include for-size(desktop) {
      width: 926px;
      min-height: 138px;
      padding: 47px 88px 0 88px;
    }
  }
  